server:
  port: 8081

spring:
  application:
    name: order-service
  
  # PostgreSQL配置
  datasource:
    url: jdbc:postgresql://192.168.xxx.xxx:5432/order_db
    username: admin
    password: Admin@123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  # Redis配置
  redis:
    host: 192.168.xxx.xxx
    port: 6379
    password: redis
    database: 0
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
  
  # Kafka配置
  kafka:
    bootstrap-servers: 192.168.xxx.xxx:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: 1
      retries: 3
  

# Actuator监控配置
management:
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    export:
      prometheus:
        enabled: true

